<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
		default-autowire="byName">

	<dubbo:application name="product-provider"/>
    <dubbo:registry protocol="zookeeper" address="172.20.10.200:2181,172.20.10.200:2182,172.20.10.200:2183" />
    <dubbo:reference  id="productRpcService" interface="com.jee4a.dubbo.provider.rpc.interfaces.ProductRpcService"  />
	
</beans>
